.parag {
    margin: 10px;
    font-size: 11pt;
    line-height: 250%;
}

.title2 {
    font-size: 14pt;
}

.param_name {
    /*font-style: italic*/
    font-weight: bold
}

.image_middle {
    vertical-align: text-bottom
}